@include media-breakpoint-down(md, $grid-breakpoints) {
  .drawer-card {
    width: 280px;
  }
}


// START: XS
.xs-limit-height {
  max-height: 220px;
  overflow-y: scroll;
}

// END: XS

@include media-breakpoint-up(sm) {
  .border-sm-top-0 {
    border-top: 0 !important;
  }

  .border-sm-bottom-0 {
    border-bottom: 0 !important;
  }

  .w-sm-auto {
    width: auto !important;
  }

  .bg-sm-transparent {
    background-color: transparent !important;
  }

  .position-sm-absolute {
    position: absolute !important;
  }

  .border-sm-0 {
    border-width: 0 !important;
  }
}


@include media-breakpoint-up(md) {
  .border-md-top-0 {
    border-top: 0 !important;
  }

  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .d-md-table-column {
    display: table-column !important;
  }
}


@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto !important;
  }

  .text-lg-left {
    text-align: left !important;
  }

  .bg-lg-gray-100 {
    background-color: $gray-100 !important;
  }

  .border-lg {
    border: 1px solid $border-color !important;
  }

  .fw-lg-bold {
    font-weight: bold !important;
  }

  .border-lg-right {
    border-right: 1px solid $border-color !important;
  }

  .border-lg-top-0 {
    border-top: 0 !important;
  }

  .border-lg-bottom-0 {
    border-bottom: 0 !important;
  }

  .d-lg-table-column {
    display: table-column !important;
  }
}

@include media-breakpoint-up(xl) {
  .xs-limit-height {
    max-height: none;
  }

  .bg-xl-gray-100 {
    background-color: $gray-100 !important;
  }

  .border-xl {
    border: 1px solid $border-color !important;
  }

  .fw-xl-bold {
    font-weight: bold !important;
  }

  .border-xl-top-0 {
    border-top: 0 !important;
  }

  .border-xl-bottom-0 {
    border-bottom: 0 !important;
  }

  .d-xl-table-column {
    display: table-column !important;
  }

  thead.sticky.stuck-below-topbar-xl {
    top: auto !important;

    th {
      top: $topbar-height !important;
    }
  }

  .stuck-below-topbar-xl {
    top: $topbar-height !important;
  }

  thead.sticky.stuck-below-topbar-and-table-header-xl {
    top: auto !important;

    th {
      top: $topbar-height + $table-header-height !important;
    }
  }

  .stuck-below-topbar-and-table-header-xl {
    top: $topbar-height + $table-header-height !important;
  }

  .btn.btn-xl-auto {
    display: inline-block;
    width: auto;
  }
}