.indicator {
  height: 6px;
  width: 6px;
  border-radius: 50px;
  display: inline-block;
  margin: 0.25em 6px 0.25em -12px;
  background: $orange;
  box-shadow: 0 0 0 0 rgba($orange, 0);
  animation: pulse-orange 7s infinite;
}

@keyframes pulse-orange {
	0% {
		box-shadow: 0 0 0 0 rgba($orange, 0.7);
	}

	10% {
		box-shadow: 0 0 0 10px rgba($orange, 0);
	}

  13% {
		box-shadow: 0 0 0 0 rgba($orange, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba($orange, 0);
	}
}

.badge {
  border-radius: $border-radius-experimental;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-weight: normal;
  border: 1px solid;

  .btn {
    height: 1.2rem;
    width: 1.2rem;
    font-size: 0.7rem;
    margin-left: 0.25rem;
    margin-right: -0.25rem;
    padding: 0;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    opacity: 0.7;
    transition: all 0.2s ease;
    border: 0;

    &:hover {
      opacity: 1;
    }
  }

  &.badge-sm {
    font-size: 0.6rem;
    padding: 2px 3px;
    border-radius: $border-radius-sm;
  }
}

.badge-secondary {
  background-color: $badge-secondary-bg;
  border-color: rgba($badge-secondary-bg, 0.2);
  color: $dark;
}

.badge-primary {
  background-color: $primary;
  border-color: darken($primary, 5%);
  color: $white;
}

.badge-white {
  background-color: $white;
  border-color: darken($light, 8%);
  color: $dark;
}

.badge-light {
  background-color: $light;
  border-color: darken($light, 8%);
  color: $dark;
}

.badge-warning,
.badge-orange {
  background-color: $orange;
  border-color: darken($orange, 5%);
  color: $white;
}

.badge-danger,
.badge-red {
  background-color: $danger;
  border-color: darken($danger, 5%);
  color: $white;
}

.badge-info,
.badge-blue {
  background-color: $blue;
  border-color: darken($blue, 5%);
  color: $white;
}
