.inside-border {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset
}

.border-soft {
  border: 2px solid $gray-300 !important;
  border-radius: $border-radius-experimental !important;
}
.input-group.border-soft {
  border: 0 !important;
  input, button {
    border: 2px solid $gray-300 !important;
    border-radius: $border-radius-experimental;
  }

  .input-group-append {
    margin-left: -2px;

    button {
      border-left: 0 !important;
    }
  }
}

.border-bottom-dotted {
  border-bottom: 1px dotted $gray-300;
}

.border-top-1 {
  border-top: 1px solid $gray-300;
}
// Transparent (WHY?: It adds 1px to edge whereas "border-0" doesn't.)
.border-transparent {
  border: 1px solid transparent !important;
}

.border-top-transparent {
  border-top: 1px solid transparent !important;
}

.border-bottom-transparent {
  border-bottom: 1px solid transparent !important;
}

.border-bottom-dark {
  border-bottom-color: $dark !important;
}

.bg-dark > .border-bottom {
  border-bottom-color: $table-dark-border-color !important;
}


.border-right-transparent {
  border-right: 1px solid transparent !important;
}

.border-left-transparent {
  border-left: 1px solid transparent !important;
}

tr.border-top-0 td {
  border-top: 0;
}

.border-right-dark {
  border-right-color: $dark !important;
}

.border-right-block {
  border-right-width: 14px !important;
}

.border-left-dark {
  border-left-color: $dark !important;
}

.border-left-block {
  border-left-width: 14px !important;
}

.border-application { border-color: $field-application-color !important;}
.border-planting { border-color: $field-planting-color !important;}

// Custom Border Colors
.border-inherit {
  border-color: inherit !important;
}

.border-input { // Same color as input borders
  border-color: $input-border-color !important;
}

.border-gray-100 {
  border-color: $gray-100 !important;
}

.border-gray-200 {
  border-color: $gray-200 !important;
}

.border-gray-300 {
  border-color: $gray-300 !important;
}

.border-gray-400 {
  border-color: $gray-400 !important;
}

.border-gray-500 {
  border-color: $gray-500 !important;
}

.border-gray-600 {
  border-color: $gray-600 !important;
}

.border-gray-700 {
  border-color: $gray-700 !important;
}

// Specific side colors
.border-top-gray-500 {
  border-top-color: $gray-500 !important;
}

.border-bottom-gray-500 {
  border-bottom-color: $gray-500 !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-left-2 {
  border-left-width: 2px !important;
}

.border-width-2 {
  border-width: 2px !important;
}


// Border Radius
.rounded-modal-left {
  border-top-left-radius: $modal-content-border-radius !important;
  border-bottom-left-radius: $modal-content-border-radius !important;
}

.rounded-top-left {
  border-top-left-radius: $border-radius !important;
}

.rounded-top-right {
  border-top-right-radius: $border-radius !important;
}

.rounded-top-left-0 {
  border-top-left-radius: 0 !important;
}

.rounded-top-right-0 {
  border-top-right-radius: 0 !important;
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  &.rounded-canvas canvas {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.rounded-top-0 {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.rounded-experiment {
  border-radius: $border-radius-experimental !important;
}

.rounded-canvas canvas {
  border-radius: $border-radius !important;
}

.rounded-bottom-canvas canvas {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.border-top-style-dashed {
  border-top-style: dashed !important;
}