.appearance-none {
  appearance: none;
}

.input-group {

  .input-group-append {
    border-left: 0;
    margin-left: -1px;

    & > .btn {
      border-left: 0 !important;
    }
  }
}


select.form-control {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='%23343A40' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'></path></svg>") !important;
  background-size: 9px !important;
  background-position: calc(100% - 7px) center !important;
  background-repeat: no-repeat !important;
  background-color: $input-bg;
  padding-right: 22px !important;
}

.form-control {
  &::placeholder {
    font-style: italic;
    opacity: 0.8;
  }

  &.bg-transparent:focus {
    background: transparent !important;
  }
}

.form-control-sm {
  height: 33px;
  padding: ($input-padding-y - 0.3rem) ($input-padding-x - 0.3rem);
  font-size: 0.95rem;
}

.form-control-lg {
  border-radius: $border-radius-experimental;
}

.input.v2 {
  height: calc(2.25rem + 2px);
}

.relational-textfield.v2 {
  .focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color !important;
    outline: 0;
    box-shadow: none;
  }

  .input.v2 {
    height: auto;
    line-height: 1.45;
  }
}

.input.v2 {
  width: 100%;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;

  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-color;
  outline: none;
  padding: $input-padding-y $input-padding-x;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  &:disabled,
  &[readonly] {
    border: 1px solid $input-disabled-border-color;
    cursor: not-allowed;
  }

  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    font-style: italic;
    opacity: 0.8;
    color: $input-placeholder-color;
  }
}

.input-group-append button:disabled {
  border-color: $input-disabled-border-color;
  opacity: 1;
  cursor: not-allowed;

  svg[data-icon="caret-down"] {
    display: none;
  }

  &.bg-light {
    background: $gray-200 !important;
  }
}


.switch {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  min-width: 4em;

  .switch-screen-reader {
    display: none;
  }

  &.dark-switch .slider {
    background-color: lighten($dark, 15%);
  }

  label {
    margin-left: 3em;
  }

  .slider {
    width: 4em;
    height: 2em;
    background-color: $gray-300;
    border-radius: 2em;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: auto 0;
    transition: .4s;

    &.on {
      background-color: $primary;
    }

    &.on::before {
      transform: translateX(2em);
    }
  }

  .slider::before {
    background-color: $white;
    border-radius: 50%;
    content: '';
    height: 1.6em;
    position: absolute;
    transition: .4s;
    width: 1.6em;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.2em;
  }
}

.search {
  position: relative;
  font-size: 14px;

  & > svg:first-child {
    position: absolute;
    margin: auto !important;
    left: 0.85em;
    top: 0;
    bottom: 0;
    font-size: 85%;

    & + input[type=text] {
      padding-left: 2em;
    }
  }
}


.search-bar {
  position: relative;
  display: flex;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;

  input {
    transition: all 0.2s ease;
    background-color: $input-bg;
    border: $input-border-width solid $gray-400;
    border-radius: $border-radius-experimental;
    color: $input-color;
    outline: none;
    padding: $input-padding-y $input-padding-x;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 2rem;
    width: 230px;

    &:focus {
      background-color: $dark;
      border-color: $dark;
      color: $white;
      width: 260px;

      & + .search-bar_key-code {
        opacity: 0;
      }
    }
  }

  .search-bar_key-code {
    transition: all 0.2s ease;
    text-align: center;
    color: $gray-500;
    position: absolute;
    right: 0.4rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: $input-border-width solid $gray-400;
    border-radius: $border-radius;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $input-bg;
    cursor: pointer;

    &:hover {
      background-color: darken($input-bg, 5%);
    }
  }

  &.search-bar-dark {
    input {
      background-color: $dark;
      border-color: $gray-600;
      color: $light;
      &:focus {
        background-color: $input-bg;
        border-color: $gray-400;
        color: $input-color;
      }
    }

    .search-bar_key-code {
      color: $gray-200;
      border-color: $gray-600;
      background-color: $gray-700;

      &:hover {
        background-color: darken($gray-700, 5%);
      }
    }
  }
}


.table {
  .table-primary .form-control.border-0 {
    background-color: desaturate(lighten($primary, 56%), 8%);

    &:focus {
      box-shadow: 0px 0px 1px inset $primary !important;
    }
  }
  .form-control.border-0 {
    width: 100%;
    &:hover {
      // border-left: 1px solid $primary !important;
      // border-right: 1px solid $primary !important;
      box-shadow: 0px 0px 1px inset $primary;
    }

    &:focus {
      box-shadow: 0px 0px 1px inset $dark !important;
    }
  }
}