$native--fontFamily: inherit;
$native--fontWeightBold: 600;
$native--fontWeightNormal: 400;
$native--borderRadius: 1em;
$native--textColorPrimary: $primary; //#3c93ee;

$native--themeLight-bgColor: white;
$native--themeLight-textColor: $dark;
$native--themeLight-textColorDanger: $danger;
$native--themeLight-borderColor: darken($native--themeLight-bgColor, 5%);
$native--themeLight-bgSecondaryColor: darken($native--themeLight-bgColor, 3%);
$native--themeLight-textMutedColor: lighten($native--themeLight-textColor, 30%);

$native--themeDark-bgColor: darken($dark, 10%);
$native--themeDark-textColor: white;
$native--themeDark-textColorDanger: #f14d4d;
$native--themeDark-borderColor: lighten($native--themeDark-bgColor, 5%);
$native--themeDark-bgSecondaryColor: lighten($native--themeDark-bgColor, 2%);
$native--themeDark-textMutedColor: darken($native--themeDark-textColor, 30%);

// Disable body scroll when open
.native--body-disable-scroll { overflow: hidden; }

// Animations
.native--animateRoot {
  .native--animateOpacity { opacity: 0; transition-property: opacity; transition-duration: 100ms; transition-timing-function: ease; }
  &.show .native--animateOpacity { opacity: 1; }

  &.show .native--animateOutDelay2 { transition-delay: 20ms; }
  &.show .native--animateOutDelay0 { transition-delay: 0s; }
  .native--animateDelay2 { transition-delay: 200ms; }

  .native--animateAppear { opacity: 0; transition-property: opacity; transition-duration: 50ms; transition-timing-function: ease; }
  &.show .native--animateAppear { opacity: 1; }

  .native--animateAppearZoom { transform: scale(1.2); opacity: 0; transition-property: opacity transform; transition-duration: 50ms; transition-timing-function: ease; }
  &.show .native--animateAppearZoom { transform: scale(1); opacity: 1; }

  .native--animateSlideUp {
    transition-property: bottom; transition-duration: 350ms; transition-timing-function: ease;
    bottom: -31.25em;
  }

  &.show .native--animateSlideUp { bottom: 0; }
}

// Text Align
.native--textLeft .native--option,
.native--textLeft.native--option {
  text-align: left !important;
}

.native--popup {
  position: absolute;
  margin: 0.5em;
  right: 0;
  left: 0;
  bottom: 0;

  &.native--layoutCentered {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 17.5em;
    width: 60%;
    max-width: 20.625em;
    margin: auto;

    .native--option {
      padding: 0.5em 1em;
    }
  }

  .native--arrow {
    color: $native--themeLight-bgSecondaryColor;
    transition: color 0.2s;
  }

  .native--option {
    font-family: $native--fontFamily;
    font-weight: $native--fontWeightNormal;
    font-size: 1.28em;
    display: block;
    width: 100%;
    border: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5em;

    padding: 0.7em 1em;
    margin: 0;
    text-align: center;
    color: $native--themeLight-textColor;
    background: $native--themeLight-bgColor;
    border-radius: $native--borderRadius;
    transition: all 0.2s;

    &.selectable-text {
      user-select: text;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.7 !important;
      background: $native--themeLight-bgSecondaryColor;
    }

    &:not([disabled]):not(.native--text):hover {
      background: darken($native--themeLight-bgColor, 1%);
    }

    &:focus {
      outline: none;
    }
  }

  .native--text {
    font-size: 0.9em;
    line-height: 1.18em;
    color: $native--themeLight-textMutedColor;
    padding: 1.1em !important;

    h3,h4,h5,h6 {
      color: $native--themeLight-textColor;
      font-size: 1.25em;
      font-weight: $native--fontWeightBold;
      margin: 0px 0px 0.4375em 0px;
      line-height: 1.3125em;
    }
  }

  .native--optionGroup {
    border-radius: $native--borderRadius;
    margin: 0.375em 0;
    overflow: hidden;
    background: $native--themeLight-bgColor;
    position: relative;

    & > div {
      border-bottom: 0.09375em solid $native--themeLight-borderColor;
      transition: all 0.2s;

      &:last-child {
        border-bottom: none;
      }
    }

    .native--optionOverflowGroup {
      max-height: 20em;
      overflow-y: scroll;
    }

    .native--option {
      border-radius: 0;
      border-bottom: 0.09375em solid $native--themeLight-borderColor;
      transition: all 0.2s;

      &:last-child {
        border-bottom: none;
      }
    }

    .native--horizontalGroup {
      display: flex;
      flex-direction: row;

      & > .native--option {
        border-radius: 0;
        border-bottom: none;
        font-size: 1.1em;
        border-right: 0.09375em solid $native--themeLight-borderColor;

        &:first-child {
          border-bottom-left-radius: $native--borderRadius;
        }
        &:last-child {
          border-bottom-right-radius: $native--borderRadius;
          border-right: none;
        }
      }
    }
  }

  &.native--textSmall {
    .native--optionOverflowGroup {
      max-height: 13.125em;
    }

    &.native--layoutCentered {
      min-width: 16.25em;
      width: 60%;
      max-width: 18.75em;
    }

    .native--option {
      font-size: 1em;
    }

    .native--horizontalGroup .native--option {
      font-size: 1em;
    }

    .native--text {
      font-size: 0.8125em;
      line-height: 1.2em;

      h3,h4,h5,h6 {
        font-size: 1.0625em;
        line-height: 1.125em;
      }
    }
  }

  .native--textDanger {
    color: $native--themeLight-textColorDanger !important;
    transition: all 0.2s;
  }

  .native--textPrimary {
    color: $native--textColorPrimary !important;
    transition: all 0.2s;
  }

  .native--textMuted {
    color: $native--themeLight-textMutedColor !important;
    transition: all 0.2s;
  }

  .native--textDark {
    color: $native--themeLight-textColor !important;
    transition: all 0.2s;
  }

  .native--borderBottomSecondary {
    border-bottom: 0.09375em solid darken($native--themeLight-borderColor, 3%);
    transition: all 0.2s;
  }

  .native--textBold {
    font-weight: $native--fontWeightBold;
  }

  .native--textNormal {
    font-weight: $native--fontWeightNormal !important;
  }

  .native--optionSecondary,
  .native--bgSecondary {
    background: $native--themeLight-bgSecondaryColor;
    transition: all 0.2s;
  }



  .code-tagged code {
    background: darken($native--themeLight-bgSecondaryColor, 10%);
    padding: 0px 0.25em;
    border-radius: 0.25em;
    color: $blue;
  }
}

.native--backdropNonFullScreenShadow {
  border-radius: $native--borderRadius;
  box-shadow: 0 0 14.375em rgba(0,0,0,.4);
}


@mixin nativeThemeDark() {
  .native--backdropNonFullScreenShadow {
    box-shadow: rgba(40, 40, 40, 1) 0px 0px 22rem;
  }

  .native--arrow {
    color: $native--themeDark-bgSecondaryColor;
  }

  .native--popup {
    .native--optionGroup {
      background: $native--themeDark-bgColor;
      & > div {
          border-bottom-color: $native--themeDark-borderColor !important;
      }
    }

    .native--option {
      color: $native--themeDark-textColor;
      background: $native--themeDark-bgColor;
      border-bottom-color: $native--themeDark-borderColor !important;
      border-right-color: $native--themeDark-borderColor !important;

      &[disabled] {
        opacity: 0.6 !important;
      }

      &:not([disabled]):not(.native--text):hover {
        background: darken($native--themeDark-bgColor, 1%);
      }
    }

    .native--text {
      color: $native--themeDark-textMutedColor;
      h3,h4,h5,h6 { color: $native--themeDark-textColor; }
    }

    .native--optionSecondary,
    .native--bgSecondary {
      background: $native--themeDark-bgSecondaryColor;
    }

    .native--textDanger {
      color: $native--themeDark-textColorDanger !important;
    }

    .native--textMuted {
      color: $native--themeDark-textMutedColor !important;
    }

    .native--textDark {
      color: $native--themeDark-textColor !important;
    }

    .native--borderBottomSecondary {
      border-bottom-color: lighten($native--themeDark-borderColor, 3%) !important;
    }

    .code-tagged code {
      background: lighten($native--themeDark-bgSecondaryColor, 10%);
      // color: lighten(saturate($primary, 60%), 50%);
      color: lighten($blue, 20%);
    }
  }
}

.native--themeDark {
  @include nativeThemeDark;
}

@media (prefers-color-scheme: dark) {
  .native--themeAuto {
    @include nativeThemeDark;
  }
}
