.v3 {
  .nav.flex-column { // vertical navigation
    .nav-header {
      padding: 0rem 1rem;
      margin-bottom: 0.25rem;
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $gray-200;
      color: $gray-600;
      font-size: 14px;
      font-weight: 600;
    }

    .nav-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: $border-radius-experimental;
      margin-left: 10px;
      position: relative;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      margin-left: 8px;
      margin-top: 2px;
      margin-bottom: 2px;

      &:hover {
        background: $gray-100;
      }

      svg { 
        opacity: 0.7; 
        font-size: 90%; 
        margin-right: 6px;
        padding: 2px;
      }

      &.active {
        background: $gray-150;
        font-weight: 600;

        svg { opacity: 1; }

        &::before {
          content: '';
          position: absolute;
          left: -8px;
          width: 4px;
          border-radius: 4px;
          background-color: $orange;
          top: 2px;
          bottom: 2px;
        }
      }
    }
  }
}

h1.breadcrumbs {
  & > span {
    font-size: 1.8rem;
    &:not(:last-child) {
      font-weight: normal;

      &::after {
        content: ' / ';
      }
    }
  }
}

.nav-tabs .dropdown-menu {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.nav {
  margin-top: 0;
  position: relative;
}

// Right now there's now way around our default input styles in development.
// Production isn't affected
.nav-link {
  @include hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  background-color: transparent; // Remove the gray background on active links in IE 10.
  color: $link-color;
  text-decoration: none;
}

// Top tab navigation
.nav-tabs {

  &.subnav {
    margin-bottom: 1rem;
    margin-top: 1rem;

    .nav-link.active {
      margin-bottom: -1px;
      border-color: $gray-300;
      border-bottom: 1px solid $body-bg;
      font-weight: bold;
      color: $dark;
    }

    .nav-link:not(.active) {
      opacity: 0.6;

      &:hover {
        background-color: $gray-200;
        border-color: $gray-300;
        opacity: 0.8;
      }
    }

    .nav-link {
      border-top-left-radius: $border-radius-experimental + 2px;
      border-top-right-radius: $border-radius-experimental + 2px;
      padding: 0.45rem 0.75rem;
      font-size: 0.9rem;
      transition: all 0.2s ease;
    }

    svg {
      font-size: 0.8em;
      margin-bottom: 1px;
    }

    .nav-item {
      &:not(:first-child) .nav-link {
        margin-left: 0.5rem;
      }
  
      &:not(:last-child) .nav-link {
        margin-right: 0.5rem;
      }
    }
  }

  &:not(.subnav) {
    .nav-item {
      &:not(:first-child) .nav-link {
        margin-left: 1rem;
      }
  
      &:not(:last-child) .nav-link {
        margin-right: 1rem;
      }
    }

    .nav-link:not(.active):hover {
      border-color: transparent transparent transparent !important;
    }

    .nav-link {
      position: relative;
      border: 0 !important;
  
      padding: 0.5rem 0.2rem;
  
      svg {
        font-size: 90%;
        margin-bottom: 1px;
        opacity: 0.60;
        padding: 0 1px;
        margin-right: 6px;
      }
  
      // &:not(.active) {
      //   opacity: 0.75;
      // }
  
      &.active {
        font-weight: bold;

        svg {
          opacity: 1;
        }
  
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          right: 0;
          left: 0;
          height: 5px;
          border-radius: 10px;
          background: $orange;
        }
      }
    }
  }
}

// Sidebar navigation
.main-navigation {
  .nav-item {
    & > .nav-link,
    & > .btn {

      .collapsed-navigation-details {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 38px;
        width: 160px;
        padding: 0.5rem 1rem;
        white-space: nowrap;
        background-color: $gray-700;
        color: $light;
        z-index: -1;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: 5px 0 10px -5px rgba($black, 0.5);
      }

      &:hover .collapsed-navigation-details {
        z-index: 20;
        opacity: 1;
      }
    } 

    

    .nav-link {
  
      &.active {
        background-color: $dark;
  
        .text-dark {
          color: $light !important;
        }
      }
  
      &:not(.active):hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
      }
    }
  }
}
