body > .table-row {
  display: flex !important;
  z-index: 100;
  background-color: $white;

  & > td,
  & > div.td {
    flex: 1;
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
    border-bottom: $table-border-width solid $table-border-color;
    color: $table-color;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0;

    td[colSpan="2"] { flex: 2; }
    td[colSpan="3"] { flex: 3; }

    &.align-bottom {
      vertical-align: bottom;
      justify-content: flex-end;
    }

    &.align-middle {
      vertical-align: middle;
      justify-content: center;
    }
  }

  &.table-row-sm > td,
  &.table-row-sm > div.td {
    padding: $table-cell-padding-sm;
  }
}

tr.hoverable {
  transition: background-color 0.1s ease;
  &:hover, &:focus {
    opacity: 1;

    & > td,
    & > th {
      opacity: 1;
      background-color: $table-hover-bg;
    }
  }

  & > td,
  & > th {
    transition: background-color 0.1s ease;
    cursor: pointer;
  }
}

table.table-dark tr.hoverable:hover > td,
table.table-dark tr.hoverable:focus > td {
  background-color: $table-dark-hover-bg;
}

tbody.hoverable:hover,
div.tbody.hoverable:hover {
  opacity: 1;
  cursor: pointer;

  & > tr > td,
  & > .tr > .td {
    background-color: $table-hover-bg;
  }
}

$expanded-border-width: 3px;
$expanded-border-radius: 4px;
$expanded-border-inner-radius: 4px;
$expanded-border-outline: 0 -1px 11px -3px black;
// $expanded-border-outline: 0 0 0 4px white;
.expanded-primary,
.expanded-secondary {
  z-index: 1;
  border-radius: $expanded-border-radius !important;

  & > div:first-child .td:first-child, & > tr:first-child > td:first-child { border-top-left-radius: $expanded-border-inner-radius !important; }
  & > div:first-child .td:last-child, & > tr:first-child > td:last-child { border-top-right-radius: $expanded-border-inner-radius !important; }
  & > div:last-child .td:first-child, & > tr:last-child > td:first-child { border-bottom-left-radius: $expanded-border-inner-radius !important; }
  & > div:last-child .td:last-child, & > tr:last-child > td:last-child { border-bottom-right-radius: $expanded-border-inner-radius !important; }

  & > .tr:not(.expanded-contents),
  & > tr:not(.expanded-contents) {
    .badge-secondary {
      background-color: $white !important;
      border-color: $white !important;
    }

    .btn.border-input,
    .form-control {
      background-color: $white !important;
      border-color: $white !important;
    }

    .opacity-80 {
      opacity: 1 !important;
    }

    .opacity-50 { opacity: 0.8 !important; }
    .btn .opacity-50 { opacity: 0.5 !important; }

    .text-secondary {
      color: inherit !important;
    }

    .text-danger {
      color: white;
    }

    .btn-outline-primary,
    .btn-outline-danger,
    .text-primary { color: $white !important; }

    td,.td {
      color: $white;
      border-color: transparent !important;
    }

    .bg-danger {
      background-color: $white !important;
    }
  }
}

.expanded-primary {
  box-shadow: 0 0 0 $expanded-border-width darken($primary, 5%), $expanded-border-outline;

  & > .tr:not(.expanded-contents),
  & > tr:not(.expanded-contents) {
    td,.td {
      background-color: $primary !important;
      &.bg-light {
        background-color: lighten($primary, 5%) !important;
      }
    }
  }

  &.hoverable:hover > tr:not(.expanded-contents) td,
  &.hoverable:hover > .tr:not(.expanded-contents) div.td {
    background-color: $primary !important;

    &.bg-light {
      background-color: lighten($primary, 5%) !important;
    }
  }
}

.expanded-secondary {
  box-shadow: 0 0 0 $expanded-border-width darken($secondary, 5%), $expanded-border-outline;

  .bg-light-transparent {
    background-color: rgba($gray-300, 0.5) !important;
  }

  & > .tr:not(.expanded-contents),
  & > tr:not(.expanded-contents) {
    .btn:focus,
    .btn.focus {
      box-shadow: none;
    }

    .btn-primary {
      background-color: rgba(0, 0, 0, 0);
      color: white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    td,.td {
      background-color: $secondary !important;
      &.bg-light {
        background-color: lighten($secondary, 5%) !important;
      }
    }
  }

  &.hoverable:hover > tr:not(.expanded-contents) td,
  &.hoverable:hover > .tr:not(.expanded-contents) div.td {
    background-color: $secondary !important;

    &.bg-light {
      background-color: lighten($secondary, 5%) !important;
    }
  }
}

.expanded-light { outline-color: $gray-300 }
.expanded-dark { outline-color: $dark }

.table {
  border-collapse: separate !important;

  tr.merge-with-next {
    & > td,
    & > th  {
      padding-bottom: 0;
    }

    & + tr {
      & > td,
      & > th  {
        border-top: 0 !important;
        padding-top: 0; 
      }
    }
  }

  &.borderless {
    td, tr {
      border: 0;
    }
  }

  &.table-xs {
    font-size: 14px;
    th, td {
      padding: 0.2rem;
    }
  }

  &.label-value {
    tbody {
      tr:first-child {
        th, td {
          border-top: none;
        }
      }

      th {
        font-weight: normal;
        color: $gray-600;
        text-align: left;
        border-top: 1px solid $gray-150;
        padding-left: 0;
      }
      td {
        border-top: 1px solid $gray-150;
        text-align: right;
        padding-right: 0;
      }
    }
  }

  tbody + tbody {
    border-top: unset;
  }

  &.border-collapse {
    border-collapse: collapse !important;
  }

  &.table-fixed {
    table-layout: fixed !important;
  }

  tr.border-top-dark td {
    border-top-color: $dark !important;
  }

  tr.border-bottom-dark td {
    border-bottom: 1px solid $dark;
  }

  tr.table-row-focused {
    outline: 2px solid $gray-500;
  }

  .table-active {
    &:hover,
    &:focus {
      background-color: lighten($table-active-bg, 2%);
    }
    & > td {
      background-color: $table-active-bg;
      transition: background-color 0.1s ease;
    }
  }

  &.table-dark {
    .table-active {
      &:hover > td,
      &:focus > td {
        background-color: darken($table-dark-active-bg, 5%);
      }

      & > td {
        background-color: $table-dark-active-bg;
      }
    }
  }

  .table-light {
    td, th, thead th {
      border-color: $table-border-color;
    }
  }

  tr.expanded > td { border-top: 2px solid $gray-300 }
  tr.subtable-lastitem + tr:not(.subtable) > td { border-top: 2px solid $gray-300 }

  tr.subtable {
    &.outlineable:not(.hoverable) {
      transition: background-color 0.1s ease;
      &:hover, &:focus {
        & > td {
          background-color: $table-hover-bg;
        }
      }

      & > td {
        transition: background-color 0.1s ease;
      }
    }

    &.subtable-1 {
      &.subtable-expanded {
        td, th, thead th { font-weight: bold; }
      }
      td, th, thead th { color: $gray-700; }
    }

    &.subtable-2 {
      &.subtable-expanded {
        td, th, thead th {
          border-bottom: 1px dashed lighten($table-border-color, 5%);
          color: $gray-600;
          font-weight: bold;
        }
      }
      td, th, thead th {
        border-color: lighten($table-border-color, 12%);
        color: $gray-600;
      }
    }

    &.subtable-3, &.subtable-4 {
      td, th, thead th {
        border-color: lighten($table-border-color, 12%);
        color: lighten($gray-600, 8%);
      }
    }

    td:first-child { padding-left: 1rem !important; }
    &.subtable-2 td:first-child { padding-left: 1.75rem !important; }
    &.subtable-3 td:first-child { padding-left: 2.5rem !important; }
    &.subtable-4 td:first-child { padding-left: 3rem !important; }

    &.subtable-no-padding {
      td:first-child { padding-left: 0.75rem !important; }
      &.subtable-2 td:first-child { padding-left: 1.5rem !important; }
      &.subtable-3 td:first-child { padding-left: 2rem !important; }
      &.subtable-4 td:first-child { padding-left: 2.5rem !important; }
    }

    td, th, thead th {
      border-color: lighten($table-border-color, 8%);
    }
  }

  .border-table-dark {
    border-color: lighten($dark, 5%);
  }

  tbody.pb-4 tr:last-child td {
    padding-bottom: 1.5rem;
  }

  tbody.sticky-left > tr > td:first-child,
  thead.sticky-left > tr > th:first-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
  }

  tbody.sticky-right > tr > td:last-child,
  thead.sticky-right > tr > th:last-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    right: 0;
  }

  td.sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
  }

  &.align-middle td,
  tr.align-middle td {
    vertical-align: middle !important;
  }

  &.rounded {
    & > thead:not(.rounded-0) {
      th:first-child:not(.rounded-0) {
        border-top-left-radius: $border-radius !important;
      }
      th:last-child:not(.rounded-0) {
        border-top-right-radius: $border-radius !important;
      }
    }

    & > tbody:last-child > tr:last-child:not(.rounded-0) {
      & > td:first-child:not(.rounded-0) {
        border-bottom-left-radius: $border-radius !important;
      }
      & > td:last-child:not(.rounded-0) {
        border-bottom-right-radius: $border-radius !important;
      }
    }
  }

  tr.position-relative td,
  tr.position-relative th {
    position: relative;
  }

  @include table-row-variant(positive, color-level($green, -9), color-level($green, -6));
  @include table-row-variant(negative, color-level($red, -9), color-level($red, -6));
  @include table-row-variant(neutral, color-level($yellow, -9), color-level($yellow, -6));
}


.table-no-hover tbody tr:hover,
.table-no-hover div.tbody div.tr:hover {
  background-color: inherit !important;
}

.table-row-no-hover:hover {
  background-color: inherit !important;
}

.table-row-hoverable:hover {
  background-color: $table-hover-bg !important;
  cursor: pointer;

  & td:not(.no-hover),
  & div.td:not(.no-hover) {
    background-color: $table-hover-bg !important;
  }
}

.table-primary {
  &.hoverable:hover,
  .hoverable:hover {
    background-color: desaturate(lighten($primary, 47%), 10%) !important;
    cursor: pointer;
  
    & td:not(.no-hover),
    & div.td:not(.no-hover) {
      background-color: desaturate(lighten($primary, 47%), 10%) !important;
    }
  }
}

.table th {
  border-top: 0;
}

tfoot.card-footer td {
  color: $dark;
  background-color: $light;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;


  &:first-child {
    padding-left: $card-spacer-x;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    padding-right: $card-spacer-x;
    border-bottom-right-radius: $border-radius;
  }
}

thead.card-header th {
  color: $dark;
  font-size: 0.8rem;
  text-transform: none;


  &:first-child {
    padding-left: $card-spacer-x;
  }

  &:last-child {
    padding-right: $card-spacer-x;
  }
}

thead.bg-light th {
  background-color: $light;
}

thead.bg-white th {
  background-color: $white;
}

tfoot.bg-light td {
  background-color: $light;
}

tfoot.bg-white td {
  background-color: $white;
}

tbody.card-body td {
  &:first-child {
    padding-left: $card-spacer-x;
  }

  &:last-child {
    padding-right: $card-spacer-x;
  }

  tr.bg-light td {
    background-color: $light;
  }
}

tbody.spaced {
  tr:first-child > td {
    border-top: 0;
  }
}

tbody.no-table-header {
  tr:first-child td {
    border-top: 0;
  }
}

table.flex-table {
  display: flex;
  flex-direction: column;

  & > tbody, & > thead {
    display: flex;
    flex-direction: column;

    & > tr {
      display: flex;
      flex-direction: row;

      & > td, & > th {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &.align-middle {
          align-items: center;
        }

        &.text-right {
          justify-content: flex-end;
        }
      }
    }
  }
}


div.table {
  color: $table-color;
  background-color: $table-bg;
  display: flex;
  flex-direction: column;

  div.tbody {
    display: flex;
    flex-direction: column;
  }

  div.tr {
    display: flex;
    flex-direction: row;
  }

  div.th,
  div.td {
    padding: $table-cell-padding;
    border-top: $table-border-width solid $table-border-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0;

    &.align-top { justify-content: flex-start; }
    &.align-middle { justify-content: center; }
    &.align-bottom { justify-content: flex-end; }
  }

  &.table-sm {
    div.th,
    div.td {
      padding: $table-cell-padding-sm;
    }
  }
}

tbody.no-thead {
  tr:first-child td {
    border-top: 0;
  }
}

table.table-lite {
  margin-bottom: 0;
  td {
    padding: 0;
    border-top: 1px $gray-200 dashed;
  }
  tr:first-child td {
    border-top: 0;
  }
}


.bg-transparent > td,
.bg-transparent > th,
.bg-transparent > tr > * {
  background-color: transparent !important;
}
