.text-primary { --text-color: #{$primary}; }
.text-muted { --text-color: #{$gray-600}; }
.text-dark { --text-color: #{$gray-800}; }

.text-noselect {
  user-select: none;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-gray-500 {
  color: $gray-500 !important;
}

.text-gray-550 {
  color: #95a2b1 !important;
}

.text-brown { color: $brown !important; }

.text-indicate-help {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.text-indicate-help-on-hover:hover {

  .text-indicate-help-on-hover--item {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }
}


.text-help { color: $help-color !important;}
.text-application { color: $field-application-color !important;}
.text-planting { color: $field-planting-color !important;}

.text-color-inherit {
  color: inherit !important;
}

.text-orange {
  color: orange !important;
}

.text-black {
  color: black !important;
}

.text-dark-transparent {
  color: rgba($dark, 0.5);
}

.text-light-transparent {
  color: rgba($white, 0.5);
}


.color-inherit, .text-inherit {
  color: inherit !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.tr-text-decoration-line-through td {
  text-decoration: line-through;
}

.text-decoration-none {
  text-decoration: none !important;
}

.font-style-normal {
  font-style: normal;
}

.font-style-mono {
  font-family: "PT Mono", monospace;
}

.text-transform-none {
  text-transform: none !important;
}

.text-normalcase {
  text-transform: none;
  font-weight: normal;
}

.text-nonselectable {
  user-select: none;
}

.font-size-inherit {
  font-size: inherit;
}

$font-spacers: (
  tiny: 0.6rem,
  min: 0.7rem,
  1: 0.8rem,
  2: 0.9rem,
  3: 1rem,
  4: 1.1rem,
  5: 1.2rem,
  max: 2.5rem,
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (font-size: font-size) {
      @each $size, $text-size in $font-spacers {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $text-size; }
      }
    }
  }
}

$font-sizes: (
  down: 80%,
  up: 120%,
  min: 13px,
  0: 14px,
  1: 1rem,
  2: 1.1rem,
  3: 1.2rem,
  4: 1.5rem,
  5: 1.8rem,
  max: 2rem,
);

@each $size, $text-size in $font-sizes {
  .fs-#{$size} { 
    font-size: $text-size !important; 
    --font-size: #{$text-size};
  }
}

.fw-bold { font-weight: 600; }
.fw-bolder { font-weight: 800; }
.fw-normal { font-weight: normal; }
.fst-italic { font-style: italic; }
.fst-normal { font-style: normal; }

.positive-good-change {
  color: $green;
  &::after {
    content: '▲';
    font-size: 50%;
    margin-left: 4px;
  }
}

.positive-bad-change {
  color: $red;
  &::after {
    content: '▲';
    font-size: 50%;
    margin-left: 4px;
  }
}

.negative-good-change {
  color: $green;
  &::after {
    content: '▼';
    font-size: 50%;
    margin-left: 4px;
  }
}

.negative-bad-change {
  color: $red;
  &::after {
    content: '▼';
    font-size: 50%;
    margin-left: 4px;
  }
}


ul.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}