.mapbox-tooltip {
  .tooltip.show {
    opacity: 1;
  }

  .tooltip-inner {
    background-color: white;
    color: black;
  }

  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^=left] .arrow::before {
    border-left-color: white;
  }
}


.tooltip {
  --bg-color: #{$gray-900};
  --border-color: var(--bg-color);
  --text-color: white;
  --arrow-size: 13px;

  &.show {
    opacity: 1;
    z-index: 10000;
  }

  .tooltip-inner {
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: $border-radius-experimental;
    text-align: left;
    max-width: 300px;
    padding: 0.35rem 0.75rem;
    color: var(--text-color);
    box-shadow: $box-shadow-lg;
  }

  .arrow {
    height: var(--arrow-size) !important;
    width: var(--arrow-size) !important;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      margin: auto 0;
      width: var(--arrow-size);
      height: var(--arrow-size);
      background-color: var(--bg-color);
      border-color: transparent !important;
      transform: rotate(-45deg) skewY(10deg) skewX(10deg);
      border-radius: 0 0 4px 0;
    }

    /* add a shadow if you want */
    &::before {
      background: var(--border-color);
      opacity: 1;
    }
  }

  &[x-placement="left"] {
    .arrow {
      &::after,
      &::before {
        bottom: 0;
        margin-left: -2px;
        transform: rotate(-45deg) skewY(10deg) skewX(10deg);
      }

      &::before {
        margin-left: 0px;
      }
    }
  }

  &[x-placement="right"] {
    .arrow {
      &::after,
      &::before {
        bottom: 0;
        margin-right: 1px;
        transform: rotate(135deg) skewY(10deg) skewX(10deg);
      }

      &::before {
        margin-right: -1px;
      }
    }
  }

  &[x-placement="top"] {
    .arrow {
      &::after,
      &::before {
        bottom: 1px;
        transform: rotate(45deg) skewY(10deg) skewX(10deg);
      }

      &::before {
        bottom: 1px;
      }
    }
  }

  &[x-placement="bottom"] {
    .arrow {
      &::after,
      &::before {
        margin-top: 2px;
        transform: rotate(-135deg) skewY(10deg) skewX(10deg);
      }

      &::before {
        margin-top: 0px;
      }
    }
  }
}

.bg-primary > .tooltip {
  --bg-color: #{$primary};
}

.bg-light > .tooltip {
  --bg-color: #{$gray-200};
  --border-color: #{$gray-400};
  --text-color: #{$gray-800};
}

.bg-white > .tooltip {
  --bg-color: white;
  --border-color: #{$gray-400};
  --text-color: #{$gray-800};
}

.border-danger > .tooltip {
  --border-color: #{$danger};
}