@import '../global_variables';
$font-family-serif: Georgia, "Times New Roman", Times, serif; // For readability/large blocks of text
$font-family-sans-serif: "Open Sans", sans-serif; // For headings and supportive text

$border-radius-experimental: 8px;
$border-radius-lg-experimental: $border-radius-experimental + 2px;
$btn-border-radius-experimental: $border-radius-experimental;
$border-radius: 6px;
$border-radius-lg: 12px;
$modal-content-border-radius: 8px;
$btn-border-radius-sm: $border-radius;
$modal-lg-title-font-size: 1.6rem;
$modal-title-font-size: 1.4rem;

$card-spacer-y:  .5rem;
$card-spacer-x:  1rem;

$border-radius-experimental: 8px;
$border-radius-lg-experimental: $border-radius-experimental + 2px;
$btn-border-radius-experimental: $border-radius-experimental;
// $btn-border-radius: 8px;
$btn-disabled-opacity: .5; // 0.65
$btn-padding-x: 1rem;
$btn-padding-x-sm: .75rem;
$btn-secondary-bg: rgba(darken($gray-150, 50%), 0.08);
$select-option-padding-x: 1rem;

// Badges
$badge-padding-y: 0.1rem;
$badge-padding-x: 0.3rem;
$badge-secondary-bg: rgba(darken($gray-150, 50%), 0.08);
$badge-secondary-border-color: rgba($badge-secondary-bg, 0.15);

// Inputs
$input-bg: $gray-100;
$input-color: $gray-800;
$input-border-color: $gray-500;
$input-placeholder-color: $gray-600;

// Disabled Inputs
$input-disabled-bg: $gray-200;
$input-disabled-border-color: $gray-500;

// Focused Inputs
$input-focus-bg: #fff;
$input-focus-border-color: lighten($primary, 10%);
$input-focus-box-shadow:  none;

$table-hover-bg: $gray-150;
$table-dark-hover-bg: $gray-900;
$table-dark-active-bg: desaturate(darken($primary, 5%), 10%);
$table-active-bg: desaturate(lighten($primary, 50%), 15%);
$table-bg-level: -11;
$table-border-level: -9;
$table-accent-bg: $gray-100;
$form-label-color: #212529;
$form-label-addition-color: #777777;
$form-feedback-icon-valid: '';
$form-feedback-icon-invalid: '';

$dropdown-border-color: rgba($dark, .15);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1092px;
$breakpoint-xl: 1300px;

$svgcolor: $primary;

$grid-breakpoints: (
  xs: 0,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);

// Modals
$modal-fade-transform:              translate(0, -50px);
$modal-show-transform:              none;
$modal-transition:                  transform .3s cubic-bezier(0.105, 0.780, 0.250, 0.955);

// $card-spacer-x: 1.5rem;  Not doing this yet cuz it mess up a bunch of stuff



@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

//
// CUSTOM VARIABLES / OVERRIDES
// If you have specific overrides or custom variables, add them here
//
$box-shadow-sm-md: 0 2px 6px -2px rgba(50, 50, 50, .2);
$box-shadow-sm: 1px 2px 3px -3px rgba(0, 0, 0, 0.76), 0 1px 13px -10px rgba(0, 0, 0, 0.35);
$box-shadow-sm-md-top: 0 -2px 6px -2px rgba(50, 50, 50, .2);

$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: transparent transparent $gray-600;
$input-group-addon-border-color: $input-border-color;


$heatmap-very-good: #00bd0f;
$heatmap-good: #76f41d;
$heatmap-decent: #b5ec09;
$heatmap-average: #fff600;
$heatmap-poor: #ffc126;
$heatmap-bad: #ff6d16;
$heatmap-very-bad: #e93737;

$accessible-heatmap-very-good: #bdbdbd;
$accessible-heatmap-good: #6fe6ff;
$accessible-heatmap-decent: #e3c764;
$accessible-heatmap-average: #ffe91c;
$accessible-heatmap-poor: #ff7700;
$accessible-heatmap-bad: #0064ff;
$accessible-heatmap-very-bad: #9103d0;

//
// SHADOW CLASSES
//
.shadow-none {
  box-shadow: none;
}

.shadow-sm {
  box-shadow: $box-shadow-sm;
}

.shadow-sm-md {
  box-shadow: $box-shadow-sm-md;
}

.shadow,
.shadow-md {
  box-shadow: $box-shadow;
}

.shadow-lg {
  box-shadow: $box-shadow-lg;
}

.shadow-top-sm {
  box-shadow: $box-shadow-sm-md-top;
}
