.Overlay {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--menu-bg-color);
  color: var(--menu-fg-color);
  font-weight: normal;
  padding: var(--size-6) var(--size-6);
  border-radius: var(--control-radius);
  font-size: var(--size-13);
  box-shadow: var(--shadow-floating-small);

  --btn-font-weight: normal;

  &[data-component="submenu"] {
    min-width: 150px;
  }

  & > [data-component="menu-contents"] {
    display: flex;
    flex-direction: column;
  }

  & > [data-component="menu-arrow"] {
    color: var(--menu-bg-color);
  }

  &[data-variant="menu"] {
    min-width: 150px;
    --menu-select-option-divider-color: none;
  }

  &[data-variant="select"],
  &[data-variant="menu"] {
    padding: var(--size-6) 0;

    & > [data-component="menu-contents"] {
      & > * {
        border-top: var(--menu-select-option-divider-color, 1px solid var(--menu-option-divider-color));
      }
      
      & > *:first-child:not(.Section) {
        --menu-select-option-divider-color: none;
      }
    }
  }

  .Divider {
    height: 1px;
    background: var(--menu-border-color);
    margin: 6px 0px;
    border: none;
    padding: 0;

    & + * {
      --menu-select-option-divider-color: none;
    }
  }

  .Section {
    background: var(--menu-section-bg-color);
    padding: var(--size-6) var(--size-12);
    color: var(--color-fg-muted);
    font-weight: 600;
    font-size: var(--size-12);
    border-top: 1px solid var(--menu-option-divider-color);
    border-bottom: 1px solid var(--menu-option-divider-color);

    & + * {
      --menu-select-option-divider-color: none;
    }
  }
}

