.Placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: rgb(from currentColor r g b / 15%);
  opacity: 1;
  border-radius: var(--control-radius);
  animation: placeholder-glow 2s ease-in-out infinite;
  color: inherit;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.6;
  }
}
