@import './variables';

.immersive-mode {
  @import './card';
  @import './forms';
  @import './grid';
  @import './jumbotron';
  @import './list-group';
  @import './navbar';
  @import './tables';

  @import './utilities/display';
  @import './utilities/flex';
  @import './utilities/float';
  @import './utilities/screenreaders';
  @import './utilities/spacing';



  // END: XS

  @include media-breakpoint-up(sm, $immersive-grid-breakpoints) {
    .border-sm-top-0 {
      border-top: 0 !important;
    }

    .border-sm-bottom-0 {
      border-bottom: 0 !important;
    }
  }


  @include media-breakpoint-up(md, $immersive-grid-breakpoints) {
    .border-md-top-0 {
      border-top: 0 !important;
    }

    .border-md-bottom-0 {
      border-bottom: 0 !important;
    }

    .d-md-table-column {
      display: table-column !important;
    }
  }


  @include media-breakpoint-up(lg, $immersive-grid-breakpoints) {
    .w-lg-auto {
      width: auto !important;
    }

    .text-lg-left {
      text-align: left !important;
    }

    .bg-lg-gray-100 {
      background-color: $gray-100 !important;
    }

    .border-lg {
      border: 1px solid $border-color !important;
    }

    .fw-lg-bold {
      font-weight: bold !important;
    }

    .border-lg-right {
      border-right: 1px solid $border-color !important;
    }

    .border-lg-top-0 {
      border-top: 0 !important;
    }

    .border-lg-bottom-0 {
      border-bottom: 0 !important;
    }

    .d-lg-table-column {
      display: table-column !important;
    }
  }

  @include media-breakpoint-up(xl, $immersive-grid-breakpoints) {
    .xs-limit-height {
      max-height: none;
    }

    .bg-xl-gray-100 {
      background-color: $gray-100 !important;
    }

    .border-xl {
      border: 1px solid $border-color !important;
    }

    .fw-xl-bold {
      font-weight: bold !important;
    }

    .border-xl-top-0 {
      border-top: 0 !important;
    }

    .border-xl-bottom-0 {
      border-bottom: 0 !important;
    }

    .d-xl-table-column {
      display: table-column !important;
    }

    thead.sticky.stuck-below-topbar-xl {
      top: auto !important;

      th {
        top: $topbar-height !important;
      }
    }

    .stuck-below-topbar-xl {
      top: $topbar-height !important;
    }

    thead.sticky.stuck-below-topbar-and-table-header-xl {
      top: auto !important;

      th {
        top: $topbar-height + $table-header-height !important;
      }
    }

    .stuck-below-topbar-and-table-header-xl {
      top: $topbar-height + $table-header-height !important;
    }

    .btn.btn-xl-auto {
      display: inline-block;
      width: auto;
    }
  }

  @include media-breakpoint-up(xxl, $immersive-grid-breakpoints) {
    .d-xxl-table-column {
      display: table-column !important;
    }
  }
}


body,
.immersive-mode {
  @include media-breakpoint-up(xl, $grid-breakpoints) {
    .d-abs-xl-flex {
      display: flex !important;
    }

    .d-abs-xl-none {
      display: none !important;
    }

    .d-abs-xl-block {
      display: block !important;
    }

    .flex-abs-xl-row {
      flex-direction: row !important;
    }

    .ml-abs-xl-2 {
      margin-left: 0.5rem !important;
    }
  }

  @include media-breakpoint-up(lg, $grid-breakpoints) {
    .d-abs-lg-flex {
      display: flex !important;
    }

    .mb-abs-lg-0 {
      margin-bottom: 0 !important;
    }

    .flex-abs-lg-row {
      flex-direction: row !important;
    }

    .d-abs-lg-table-cell {
      display: table-cell !important;
    }

    .d-abs-lg-none {
      display: none !important;
    }

    .d-abs-lg-block {
      display: block !important;
    }

    .w-abs-lg-50 {
      width: 50% !important;
    }
  }

  @include media-breakpoint-up(md, $grid-breakpoints) {
    .d-abs-md-flex {
      display: flex !important;
    }

    .d-abs-md-block {
      display: block !important;
    }

    .w-abs-md-50 {
      width: 50% !important;
    }

    .d-abs-md-none {
      display: none !important;
    }
  }
}