.Input,
.ReadonlyInput {
  font-size: inherit;
  background: none;
  border: 0;
  text-align: inherit;
  cursor: text;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.ReadonlyInput {
  padding: 0;
  height: var(--input-height, var(--control-size));
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 150px;

  &[data-emphasis="true"] {
    font-weight: bold;
    font-size: 110%;
  }
}
